body{
    margin:0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    
}

.slider{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
  

}

.header{
    position: absolute;
    top: 0;
    display: flex;
    padding: 20px;;
    color: white;
    font-size: 20px;
    
    width: 100%;
    display: flex;
    justify-content: space-around;
    z-index: 100;
    
    
}
nav{
    height:100px;
    width: 35%;
   
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
    
}


nav > a{
    text-decoration: none;
    color: white;
    font-size: 25px;;
}

.logo{
    height:80px;
    width: 150px;
    
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}
.slides{
    width: 400%;
    height: 100%;
    display: flex;
    position: relative; 
}
.banner{
   
    position: absolute;
    position: absolute;
    top:40%;
    left:30vw;
    width: 40vw;
    text-align: center;
    color: white;
    transition: 200ms;
}
.banner h1{
    font-size: 40px;
    font-weight: lighter;
   
}

.banner h3{
    font-weight: lighter;
}
.banner h1 span{
    
    font-weight: 900;
}

.banner > button{

    border: 3px solid white;
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
    width:40%;
    height: 50px;;
    text-align: center;
    color: white;
    background: #0AC8B1;
}

.banner > button:hover{
    color: #0AC8B1;
    background: white;
    border: 3px solid  #0AC8B1;
}

.slides input{
    display: none;
}

.slide{
    position: relative;
    width: 25%;
    transition: 2s;
    height:100%;
    
     
    
}

.slide img{
    width: 100%;
    height:100%;
   

    background-size: cover;
}

.fa-chevron-right{
    z-index: 100;
    position: absolute;
    right: 40px;
    top:50%;
    color: #ffffff80;
}
.fa-chevron-right:hover{
    color: #ffffff;
}
.fa-chevron-left{
    z-index: 100;
    position: absolute;
    left: 40px;
    top:50%;
    color: #ffffff80;
   
}
.fa-chevron-left:hover{
    color: #ffffff;
}

.navigation-manual{
    margin: auto;
    display: flex;
    width: 15%;
    margin-top: -240px;;
    justify-content: center;
    position: relative;

}

.manual-btn{
    border: 2px solid #ACADE0;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
   
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background: #ACADE090;
}

#r1:checked~ .first{
    margin-left: 0;
}
#r2:checked~ .first{
    margin-left: -25%;
}
#r3:checked~ .first{
    margin-left: -50%;
}
#r4:checked~ .first{
    margin-left: -75%;
}
/* #r1:checked~ .manual-btn #m1{
    background: #ACADE0; ;
}
#r2:checked~ .manual-btn #m1{
    background: #ACADE0; ;
}
#r3:checked~ .manual-btn #m1{
    background: #ACADE0; ;
}
#r:checked~ .manual-btn #m1{
    background: #ACADE0; ;
} */

/* .auto-navigation{
    position: absolute;
    display: flex;
    width:800px;
    justify-content: center;
    margin-top: 460px;
}

.auto-navigation div{
    border: 2px solid  #ACADE0;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
    
    
    
}

.auto-navigation div:not(:last-child){
    margin-right: 40px;
    
} */

/* About us */

.about{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.about > h1{
    text-align: center;
    margin-top: 30px;
    font-size: 50px;
    font-weight: lighter;
    /* flex-grow: 1; */
}

.about > p{
    margin-top :20px;
    /* flex-grow: 1; */
}

.about > .cardsHolder{
    
   height:40%;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;

}
.about > .cardsHolder > .card{
    display: flex;
    flex-direction: column;
    
    height: 50vh;
    padding: 10px;
    
    
}
.about > .cardsHolder > .card:not(:last-child){
    margin-right: 10px;
}
.about > .cardsHolder >.card > .icon{
    flex-grow: 4;
    background:#0AC8B1 ;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    color: white;
    
}
 #icon3{
    background:#DFF0EE;
}
#icon1{
    background:#DFF0EE;
}


.about > .cardsHolder >.card>  h2{
    flex-grow: 1;
    text-align: center;
    font-size: 30px;
    padding-top:30px;
}
.about > .cardsHolder >.card > p{
     flex-grow: 1;
    text-align: center;
    color: #0AC8B1;
}

.buttonHolder{
    /* flex-grow: 3; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.about > .buttonHolder >button{
    border: 3px solid white;
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
    width:20vw;
    height: 50px;
    
    text-align: center;
    color: white;
    background: #0AC8B1;
    transition: 200ms;
}

.about > .buttonHolder >button:hover{
    color: #0AC8B1;
    background: white;
    border: 3px solid  #0AC8B1;
}
/* Work */

.work{
    height: 90vh;
    width: 100vw;;
    display: flex;
    align-items: center;
    background: #DFF0EE; 
    overflow: hidden;
}
.lorem{
    margin-top: 15%;
    height: 70%;
    flex-grow: 1;
    text-align: left;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    
}
.work  .lorem > div{
    flex-grow: 1;
}
.work  .lorem > div:nth-child(2){
    flex-grow: 3;
}
.lorem h1{
    /* margin-top: 30px; */
    font-size: 40px;
}

.work  .lorem p{
    
    max-width: 300px;
    
    font-weight: 500;
    color: #0AC8B1;;
}


#photo{
    flex-grow: 1;
    background-size:cover ;
    display: flex;
    justify-content: center;
    align-items: center;
    
   
}



.work  .lorem button{

    border: 3px solid white;
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
    width:20vw;
    height: 50px;
    /* margin-top: 40px; */
    text-align: center;
    color: white;
    background: #0AC8B1;
    transition: 200ms;
}

#right{
    justify-content: center;
    align-items: center ;
}
.lorem #right > div p {
    text-align: right;
}

@media screen and (max-width: 600px){ 
    .header{
        align-items: center;
        flex-direction: column;
        
    }
    nav{
        flex-direction: column;
        align-items: center;
    }
    nav a{
        text-align: center;
    }

    .work{
        flex-direction: column;
        align-items: center;
       
    }
    .cardsHolder{
        flex-direction: column;
    }

    .card{
    align-items: center;
    }

    .icon{
        width:20vw;
        height: 20vh;
    }

    .banner h3{
        margin: auto;
        
    }
}
